/* Big Tablet to 1200px (width smaller than 1140px row */

@media only screen and (max-width: 1200px) {}

/* Small Tablet to Big Tablet from 768 to 1023px */

@media only screen and (max-width: 1023px) {}

/* Small Phones to small Tablet 481-767px(Ipad) */

@media only screen and (max-width: 767px) {}

/* Small Phones 0 to 480px(Iphone) */

@media only screen and (max-width: 480px) {}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: Microsoft JhengHei;
}

.header {
  background-color: #ffffff;
  height: 20%;
  width: 100%;
}

.head_group {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.head_back {
  width: 20%;
  display: flex;
  align-items: center;
  color: #1caa82;
  font-size: 1.5rem;
  font-weight: 400;
}

.head_title {
  width: 80%;
  text-align: center;
  color: #1caa82;
  font-size: 2rem;
  font-weight: bolder;
}

/* content */

.content {
  background-image: linear-gradient(to bottom, #afdbcb, #abd1cc);
  width: 100%;
  height: 80vh;
  padding-top: 1rem;
}

.p_list {
  width: 95%;
  margin: auto;
}

.p_title {
  background-image: linear-gradient(to top, #269482, #3ac2ab);
  /* padding: 0.6rem; */
  display: flex;
  align-items: center;
  width: 98%;
  margin: auto;
  /* height: 3rem; */
}

.p_title_blue {
  background-image: linear-gradient(to top, #057fa9, #2aaca6);
  /* padding: 0.6rem; */
  display: flex;
  align-items: center;
  width: 98%;
  margin: auto;
}

.p_title_green {
  background-image: linear-gradient(to top, #3e7054, #5fa17b);
  /* padding: 0.6rem; */
  display: flex;
  align-items: center;
  width: 98%;
  margin: auto;
}

.p_text {
  color: #ffffff;
  font-size: 1.5rem;
  width: 60%;
}

.p_up {
  width: 40%;
  text-align: right;
}

.p_content_title {
  font-size: 1.5rem;
  font-weight: bolder;
  height: 100%;
  margin: 1rem 0;
}

.p_content_text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #575757;
}

.p_icon {
  margin-right: 5px;
}

/* 特殊圖案 */

.p_content {
  display: flex;
  background-image: url(../img/bg_center_2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 1rem 0;
}

.p_content_up {
  display: flex;
  background-image: url(../img/bg_center_1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 2rem 0;
}

.p_img {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p_img_size {
  width: 80%;
  height: 90%;
  /* padding: 1rem; */
}

.p_icon {
  width: 34px;
  height: 34px;
  display: flex;
  flex-direction: row;
}

.p_content_detail {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* footer */

.footer {
  background-image: url(../img/bg_up_1.png);
  background-repeat: no-repeat;
  position: relative;
  height: 13vh;
}